<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'callout callout-success' : 'callout callout-warning'">
    <i class="icon fa fa-check" data-ng-show="(savedSuccessfully)"></i>
    <i class="icon fa fa-warning" data-ng-show="(!savedSuccessfully)"></i>
    {{message}}
</div>

<script type="text/ng-template" id="deletecategory.html">
    <div class="modal-header">
        <h4 class="modal-title">Удаление категории!</h4>
    </div>
    <div class="modal-body">
        <p>Вы уверены что хотите удалить категорию: <b>{{ title }}</b>?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" type="button" ng-click="cancel()">Закрыть</button>
        <button class="btn btn-success" ng-click="ok()">Удалить</button>
    </div>
</script>

<div class="row" data-ng-show="authentication.isAuth">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header"></div>
            <div class="box-body no-padding">
                <table class="table table-hover no-border">
                    <thead></thead>
                    <tbody>

                        <tr data-ng-repeat="task in tasks">
                            <td>
                                &nbsp;&nbsp;&nbsp;
                                <span data-ng-show="task.type =='INTRODUCE'"><i class="fa  fa-fire"></i></span>
                                <span data-ng-show="task.type =='SIGNING'"><i class="fa  fa-sign-in"></i></span>
                                <span data-ng-show="task.type =='TASK'"><i class="fa  fa-envelope"></i></span>
                            </td>
                            <td>
                                <strong>{{ task.title }}</strong>
                                <br /><small style="color:silver">{{ task.shortBody  }}</small>

                                <br />
                               <small style="color:silver">Вам назначена задача {{ task.startDate }} пользователем {{ task.authorTitle }},</small>
                                <small style="color:silver"> выполниь до {{ task.dueDate }}</small>
                                <br />
                               
                                
                            </td>

                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        ...
                                    </button>

                              
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" data-ng-show="task.type =='INTRODUCE'">
                                            <li><a href="#/todotasks/introduceopen/{{ task.id }}"><i class="fa fa-edit"></i> Открыть</a></li>
                                            <li><a ng-click="deleteCategory(task.id,task.title)"><i class="fa fa-check"></i> Ознакомился</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ task.linkToTask }}" target="_blank"><i class="fa fa-share-square-o"></i> В документооборот</a></li>
                                        </ul>
                               

                                 
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" data-ng-show="task.type =='SIGNING'">
                                            <li><a href="#/todotasks/signopen/{{ task.id }}"><i class="fa fa-edit"></i> Открыть</a></li>
                                            <li><a ng-click="deleteCategory(task.id,task.title)"><i class="fa fa-check"></i> Согласовать</a></li>
                                            <li><a ng-click="deleteCategory(task.id,task.title)"><i class="fa fa-minus-circle"></i> Отклонить</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ task.linkToTask }}" target="_blank"><i class="fa fa-share-square-o"></i> В документооборот</a></li>
                                        </ul>
                                

                                 
                                        <ul class="dropdown-menu dropdown-menu-right" role="menu" data-ng-show="task.type =='TASK'">
                                            <li><a href="#/todotasks/execute/{{ task.id }}"><i class="fa fa-spinner"></i> Выполнить</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ task.linkToTask }}" target="_blank"><i class="fa fa-share-square-o"></i> В документооборот</a></li>
                                        </ul>
                                 

                                   
                                </div>

                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr><td colspan="5"><h3>&nbsp;</h3></td></tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->




    </div>

</div>
